$booked: rgb(85, 85, 85);
$available: rgb(27, 197, 27);
$issue: rgb(170, 21, 21);
$cleaning: rgb(129, 18, 129);

$room-icons-per-row: 7;
$room-icons-margin-right: 3%;
$room-icons-margin-halves: $room-icons-per-row / 2;
