.room {
    &.icon {
        padding: 13px 0;
        margin-right: $room-icons-margin-right;
        margin-bottom: 10px;
        background: white;
        text-align: center;
        font-size: 1.5rem;
        width: (100% / $room-icons-per-row) - $room-icons-margin-right;
        font-weight: 700;
        cursor: pointer;

        &:nth-child(#{$room-icons-per-row}n + 1) {
            margin-left: $room-icons-margin-halves;
        }

        &:nth-child(#{$room-icons-per-row}n) {
            margin-right: $room-icons-margin-halves;
        }

        &.available {
            background: $available;
        }

        &.booked,
        &.cleaning,
        &.issue {
            color: white;
        }

        &.booked {
            background: $booked;
        }

        &.cleaning {
            background-color: $cleaning;
        }

        &.issue {
            background: $issue;
        }
    }
}
